
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;600&family=Oswald:wght@200;300;400;500;600;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;600&family=Oswald:wght@200;300;400;500;600;700&family=Young+Serif&display=swap');



/* body */


h2, h1, h3 {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Young Serif', serif;
    color: #4e6458;
}

h3 {
    height: 15px;
}

p, body {

    font-family: 'Montserrat', sans-serif;
    
}

a {
    font-family: 'Montserrat', sans-serif;
}



/* header */
#header {
    background: white no-repeat top center/cover; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: #4e6458 1px;
    }


#header-text {
    color:#4e6458;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   padding-left: 20px;
}
   

#header i {
    padding-left: 10px;

}



.active {
    border-bottom: solid 1px #97afa7;
}

#nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding-right: 30px;
}

#nav-bar a {
    color: #97afa7;
    padding: 1px;
   
}
/* main content */


/* hero section */

#hero {
    background: url(../images/hero-img.jpeg) no-repeat center/cover;
    width: 100%;
    height: 400px;
    display: flex;
}




/* Info section */

#info {
    display: flex;
    flex-direction: column;
}

#info h2, i {
    display: flex;
    justify-content: center;
    text-align: center;
}

#info i {
    height: 24px;
}

/* Puzzle Mania Club section */

#club { 
    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;

}

#club h3 {
    display: flex;
    justify-content: flex-end;
}

.div-right {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

#club i {
    padding-left: 5px;
}

/* meetup section */

#meetup-times {
    background: url(../images/meetup-times-img.jpeg) center/ cover;
    width: 100%;
    
}

#meetup-times h3 {
    color: #cab5b1;
}

#meetup-times div {
    border: white solid 2px;
}

#meetup-times p {
    color: white;
}

/* footer */

hr {
    color: #97afa7;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-top: #97afa7 10px;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #97afa7;
}