/* General styles */

/* body */

h2 { 
    color: #9632f4;
}

/* header */
#header {
    background: #9632f4 no-repeat top center/cover; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header-text {
    color: white;
    background-color: #9632f4;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.active {
    border-bottom: solid 1px #3a3a3a;
}

#nav-bar {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
}
/* main content */

/* Info section */

#info {
    display: flex;
    flex-direction: column;
}

/* Puzzle Mania Club content */

#club { 
    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;

}

#club h2 {
    display: flex;
    justify-content: flex-end;
}

.div-right {
    display: flex;
    justify-content: flex-end;
}

/* footer */
hr {
    color: #9632f4;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-top: #9632f4 10px;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #9632f4;
}