
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;600&family=Oswald:wght@200;300;400;500;600;700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;600&family=Oswald:wght@200;300;400;500;600;700&family=Young+Serif&display=swap');



/* body */

h2 { 
    color: #9632f4;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Young Serif', serif;
}

p {

    font-family: 'Montserrat', sans-serif;
    
}

a {
    font-family: 'Montserrat', sans-serif;
}

/* header */
#header {
    background: #9632f4 no-repeat top center/cover; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header-text {
    color: white;
    background-color: #9632f4;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.active {
    border-bottom: solid 1px white;
}

#nav-bar {
        background-color: #9632f4;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
}

#nav-bar a {
    color: white;
}
/* main content */

/* Info section */

#info {
    display: flex;
    flex-direction: column;
}

/* Puzzle Mania Club content */

#club { 
    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;

}

#club h2 {
    display: flex;
    justify-content: flex-end;
}

.div-right {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

/* footer */

hr {
    color: #9632f4;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-top: #9632f4 10px;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #9632f4;
}