/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@600&display=swap");

/* fonts body */

h2,
h1,
h3 {
  font-family: "Raleway", sans-serif;
  color: #4e6458;
  text-transform: uppercase;
}

h3 {
  height: 15px;
}

p,
body,
a {
  font-family: "Rubik", sans-serif;
}

/* overrides the default browser styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100vw;
  overflow-x: hidden;
}

/* margin around the part below the hero image */

#body-margin {
  margin: 8px;
}

/* INDEX.HTML PAGE */
/* header */
#header {
  background: #4e6458 top center/cover;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #45534b 3px solid;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#header-text a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

#header-text {
  color: white;
  background-color: #4e6458;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  width: 280px;
}

/* bars icon next to header */
#header i {
  font-size: 200%;
  padding-right: 50px;
}

/* centers the navmenu icon */
#label-checkbox {
  width: 40px;
  display: flex;
  align-self: center;
}

/* hides checkbox next to header */
#checkbox-navmenu {
  display: none;
}

/* border under active nav-menu */
.active {
  border-bottom: solid 2px white;
}

/* navbar menu */
#nav-menu {
  background-color: #4e6458;
  display: flex;
  list-style-type: none;
  padding-right: 10px;
  flex-direction: column;
  margin-left: auto;
  width: 310px;
  margin-bottom: 0%;
  left: 0;
  right: 0;
}

#nav-menu a {
  color: white;
  padding: 1px;
  text-decoration: none;
}

/* hover effect on nav menu */
#nav-menu a:hover {
border-bottom: solid 2px white;
}

/* active link color on nav menu */

#nav-menu a:active {
  background-color: #cab5b177;
}

nav li {
  padding-bottom: 10px;
  justify-content: flex-end;
  display: flex;
}

/* navmenu dropdown style */

nav {
  position: absolute;
  margin-top: 40px;
  background-color: #4e6458;
  border-bottom: #45534b 3px solid;
  width: 100%;
  display: none;
}

/* checkbox dropdown function */

#checkbox-navmenu:checked ~ nav {
  display: block;
}

/* main content */

/* hero section */

/* hero slide */
.hero-slides {
    height: 70vh;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show{ 
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20%,
    30% {
        opacity: 1;
        scale: 1.03;
    }
    50% {
        opacity: 0;
    }

}  

/* hero div with text */

#hero-div-bg {
  background-color: #4e6458b6;
  width: 62vw;
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: 1px;
  word-spacing: 1px;
  position: absolute;
  
}

#hero-div-bg p {
  display: flex;
  line-height: 1.5;
}

/* Info section */

#info div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#info h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #f0c66dd0;
  padding-top: 20px;
  padding-bottom: 20px;
  top:0;
  left:0;
  right:0;
  margin: 0;
  margin-bottom: 20px;
}

#info p {
  margin: 8px;
}

/* Retreat section */

#retreat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#retreat hr {
    margin: 0;
}

#retreat h3 {
    display: flex;
    justify-content: center;
}

.div-center {
display: flex;
justify-content: center;
text-align: center;
}

.retreat-image {
margin: 20px;

}

.retreat-image img {
width: 100%;
height: 100%;
border-radius: 40px;
}

#retreat i {
  padding-left: 5px;
}

/* removed underline under <a> and changed color */
#retreat a {
  color: #97afa7;
  padding: 1px;
  text-decoration: none;
}

/* Safari section */

/* removed underline under <a> and changed color */

#safari-div-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#safari a {
  color: #97afa7;
  padding: 1px;
  text-decoration: none;
}

#safari h3 {
display: flex;
justify-content: center;
}

/* safari video */

#safari-video {
    width: 100%;
    border-radius: 40px;
    border: 1px solid white;
}

/* safari times section, hidden for now */

#safari-times {
  background: url(../images/lion.jpeg) center/ cover;
  width: 100%;
  flex-direction: column;
  /* hides the safari-times section */
  display: none;
  
}

#safari-times h3 {
  color: #f0c66dd0;
}

#safari-times div {
  border: white solid 2px;
  background-color: rgba(0, 0, 0, 0.726);
    text-align: center;
}

#safari-times p {
  color: white;
}

/* Footer */

hr {
  color: #97afa7;
}

#social-networks {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border-top: #97afa7 10px;
  height: 50px;
  margin-right: 50px;
}

#social-networks i {
  font-size: 200%;
  padding: 5%;
  color: #4e6458;
}

#follow-us {
    color: #4e6458;
    display: flex;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}

#footer {
  height: 50px;
}

/* SAFARI-GALLERY.HTML PAGE */

img {
  width: 100%;
}

#firstimage {
  margin-top: 45px;
}

/* BOOKING-PAGE.HTML PAGE */

#bookingpage {
  background: url(../images/cheetah-close-up.jpeg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
    display: flex;
    justify-content: center;
}

#bookingpage h2 {
  color: white;
  
}

#bookingpage form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#bookingpage input {
  width: 200px;
  height: 20px;
  border-radius: 20px;
  border-color: white;
}

#bookingpage button {
  font-size: 110%;
  background-color: #4e6458;
  border-radius: 20px;
  border-color: white;
  color: white;
  padding: 10px 15px;
}

#bookingpage label {
  color: white;
  margin-bottom: 4px;
}

/* transparent background */
#bookingpage-bg {
  background-color: #97afa7d0;
  width: 270px;
  height: 450px;
  margin-top: 150px;
}

#bookingpage-bg h3 {
  color: #ffffff;

}

/* CONTACT-US.HTML */

#contact-us-body-bg-img {
  background: url(../images/man-feeding-giraffe-in-village.jpeg) center
    center/cover no-repeat;
  width: 100vw;
  height: 100vh;
}

#contact-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#contact-us-section div {
  background-color: #97afa7d0;
  width: 300px;
  height: 510px;
  margin-top: 100px;
  padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact-us-section p {
  color: white;
}

#contact-us-section h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

#contact-us-section button {
  font-size: 100%;
  background-color: #4e6458;
  border-radius: 20px;
  border-color: white;
  color: white;
  padding: 10px 15px;
}

#contact-us-section textarea {
  border-radius: 20px;
  border-color: white;
  width: 250px;
  height: 80px;
  margin-bottom: 10px;
}

/* THANKYOU-BOOKING-PAGE.HTML */

#thank-you-booking-page {
background: url(../images/cheetah-close-up.jpeg) no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;

 
}

#thank-you-booking-page div {
  background-color: #97afa7d0;
  width: 250px;
  height: 400px;
  margin-top: 150px;
  padding: 10px;
  display: flex;
  text-align: center;
    flex-direction: column;
}

#thank-you-booking-page h3 {
 
  margin-bottom: 40px;
  color: white;
}

#thank-you-booking-page p {
  color: white;
  line-height: 1;
}

/* THANKYOU-CONTACT-PAGE.HTML */

#thank-you-contact-page {
    background: url(../images/man-feeding-giraffe-in-village.jpeg) center center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#thank-you-contact-page div {
    background-color: #97afa7d0;
    width: 340px;
    height: 200px;
    margin-top: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#thank-you-contact-page p {
    color: white;
}

#thank-you-contact-page h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    #hero-div-bg {
        padding-bottom: 10px;
    }
   
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* header */

    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    .hidden-navmenu {
        display: flex;
        flex-direction: column;
        width: 450px;
        margin-top: 0;
        
        
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        text-align: center;
       width: 450px;
    justify-content: space-between;
      
       
    }

    #nav-menu li {
        padding-left: 2px;
        padding-right: 7px;
        display: flex;
        justify-content: center;
        text-align: center;
        width: fit-content;
    }

    #nav-home {
        width: 70px;
    }

    #label-checkbox {
        display: none;
    }

    /* INDEX.HTML PAGE */

    /* hero section */

    #hero {
        margin-top: 47px;
        height: 400px;
    }

    #hero-div-bg {
        width: 50vw;
        height: 15vh;
        margin-bottom: 40px;
        margin-left: 40px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #hero-div-bg p {
        font-size: x-large;
    }

    /* info section */


     #info h2 {
        margin-bottom: 20px;
     }
    
    #info div {
             margin: auto;
             width: 70%;
         }

    #info p {
        font-size: larger;
        display: flex;
        text-align: center;
    }



    /* retreat section */

   

    #retreat p {
        font-size: larger;
    }

    .div-center {
        
        margin: auto;
        width: 80%;
            
    }

    #retreat-images {
            
            margin: auto;
            width: 80%;
    
        }
    
   
    

    /* safari section */

    #safari-text-and-video {
        display: flex;
        justify-content: center;
        flex-direction: column;
       
    }

    
    #safari-div-text {

        
        margin: auto;
        width: 80%;
        
    }

    #safari p {
        font-size: larger;
    }

    /* safari video */

    #safari-video {
        height: 500px;
        margin: auto;
        width: 80%;
        
    
    }
    

  /* SAFARI-GALLERY.HTML PAGE */
    #safari-gallery {
        column-count: 2;
        column-gap: 5px;
        margin-top: 50px;
    }

    #firstimage {
        margin-top:0;
    }

    /* CONTACT-US.HTML */

        #contact-us-section div {
            margin-top: 150px;
        }
}

/* Media query: Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* INDEX.HTML PAGE */

    /* info section */
 #info div {
    margin: auto;
    width: 50%;
 }


    

    /* retreat section */

    #retreat {
        width: 50vw;
        margin: auto;
        align-content: flex-start;
        
    }
    
        #retreat-image {
            margin: 0;
    
        }

        .div-center {
            order: 0;
            
        }

                 #retreat-images {
                     order: 1
                 }

        /* slide for the retreat images */

                #retreat-slider-992px {
                    margin: 0 auto;
                    margin-top: 20px;
                    position: relative;
                    width: 70%;
                    height: 0;
                    padding-bottom: 40%;
                    background: #4c4c4c;
                    border: solid 10px #2c2c2c;

                }

                .slide-img {
                    position: absolute;
                        width: 100%;
                        height: 100%;

                }

                .slide-img img {
                    width: 100%;
                    height: 100%;
                }

                #i1, #i2, #i3 {
                    display: none;


                }

                .pre, .nxt {
                    width: 12%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background: rgba(88, 88, 88,.4);
                    z-index: 99;
                    cursor: pointer;
                }

                .pre   {
                    left: 0;
                }
                .nxt {
                    right: 0;
                }

                .nav-dots {
                    width: 100%;
                    height: 11px;
                    bottom: 12%;
                    position: absolute;
                    text-align: center;
                    z-index: 99;
                }

       

        /* makes the retreat and safari section come at one row */

        #retreat-and-safari-section-992px {

            display: flex;
        }

        /* safari section */

                #safari {
                    width: 50vw;
                    margin: auto;
                    align-content: flex-start;
                    
                }

        #safari div {
            display: flex;
            
        }

        #safari-video {
            margin: auto;
            width: 70%;
        }

        #safari-text-and-video {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        
   
           
           /* SAFARI-GALLERY.HTML PAGE */
           #safari-gallery {
               column-count: 4;
               column-gap: 5px;
           }



                  
        
               

}

/* Media query: Screens bigger then 1200px */
@media screen and (min-width: 1200px) {

    /* INDEX.HTML PAGE */

    /* hero section */

    #hero {
        height: 800px;
    }

    #hero-div-bg {
        width: 550px;
        height: 150px;
        margin-left: 100px;
        margin-bottom: 100px;
       
    }

    #hero-div-bg p {
        font-size: 30px;
        
    }

      
}
